.main-content {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 9vw;
  margin-top: 80px;
  position: relative;
  z-index: 1;

  .content-video {
    background-image: linear-gradient(to right, transparent, #e1e1e1, transparent);
    width: 65vw;
    height: 320px;
    opacity: 0.3;
    position: absolute;
    margin-top: -80px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    overflow: hidden;

    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  }

  .icon-section {
    margin-top: -2000px;
    display: flex;
    gap: 16px;

    img {
      width: 40px;
      height: 40px;
      transition: all 0.3s ease, filter 0.3s ease;
      background-color: transparent;
      border: none;
      outline: none;
    }

    img:hover {
      border-radius: 50%;
      filter: brightness(1.2);
      background: radial-gradient(ellipse at left, #EC006E80, transparent),
        radial-gradient(ellipse at right, #2f35f880, transparent);
      cursor: pointer;
      border: none;
      outline: none;
    }
  }

  .buttons-section {
    display: flex;
    gap: 22px;

    button {
      width: 130px;
      height: 54px;
      border-radius: 8.17px;
      border: 1px solid;
      border-color: #282828;
      padding: 16px;
      gap: 10px;
      color: white;
      background-color: #1C1C1C;
      font-size: 18px;
      font-weight: 600;
      font-family: "Inter", sans-serif;
      cursor: pointer;
      transition: background-color 0.3s ease, background-image 0.3s ease, color 0.3s ease;
    }

    button:hover {
      border: none;
      background-image: linear-gradient(to right, #EC006E, #A4358F, #474DFF);
      background-color: transparent;
      color: #f0f0f0;
    }
  }

  .footer {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98vw;
    gap: 80px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;

    hr {
      border: none;
      height: 1px;
      background-color: #343434;
    }
  }
}

@media (max-width: 768px) {
  .main-content {
    width: 100%;

    .content-video {
      width: 100%;
      height: 300px;
    }

    .footer {
      margin-top: 0px;
    }
  }
}
