.card-content {
  background-color: #fafafa;
  width: 53.13dvw;
  height: 46.3dvh;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: row;

  .left-painel {
    width: 50%;

    .context-text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 145px;

      .font-title {
        font-weight: 500;
        font-size: 32px;
        color: #404040;
        font-family: "Arial";
      }

      .font-description {
        font-weight: 400;
        font-size: 18px;
        color: #404040;
        font-family: "Arial";
        width: 75%;
        line-height: 28px;
      }
    }
  }

  .rigth-painel {
    background-color: white;
    width: 50%;
    border-radius: 24px;
    padding: 39px 40px;

    .font-title {
      font-weight: 500;
      font-size: 24px;
      color: #404040;
      font-family: "Arial";
    }

    .sign-in-form {
      height: 90%;
      margin-top: 20px;
      display: flex;
      gap: 0;
      flex-direction: column;
      justify-content: space-between;

      .actual-form {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .input-container {
          position: relative;
          width: 92%;
          height: 3rem;

          .input-field {
            position: relative;
            width: 100%;
            height: 50%;
            border: 1px solid #e1e5ee;
            border-radius: 0.5rem;
            font-family: inherit;
            font-size: 1rem;
            color: #404040;
            outline: none;
            padding: 1rem;
            background: none;
            transition: border-color 160ms ease-in;
          }

          .input-field:focus {
            border-color: #5b5a5a;
          }

          .input-field::placeholder {
            color: transparent;
            transition: color 200ms ease-in-out;
          }

          .input-field:focus::placeholder {
            color: #c0c0c0;
          }

          .input-label {
            position: absolute;
            left: 1rem;
            top: 1.2rem;
            padding: 0 0.5rem;
            color: #404040;
            font-size: 1rem;
            cursor: text;
            background-color: white;
            transition: all 200ms ease-in-out;
          }

          .input-field:focus ~ .input-label,
          .input-field:not(:placeholder-shown) ~ .input-label {
            top: -0.6rem;
            left: 0.8rem;
            font-size: 0.8rem;
            color: #404040;
          }
        }

        .check {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 95%;
        }
      }

      button {
        background-color: #181818;
        color: white;
        width: 99%;
        height: 50px;
        border-radius: 8px;
        border: none;
      }
    }
  }
}
