<div class="main-content">
  <div class="titleImg">
    <img src="../../../assets/title.svg" alt="Titulo" />
  </div>

  <div class="icon-section">
    <img src="../../../assets/insta-icon.svg" alt="instagram" />
    <a
      href="https://www.youtube.com/@djarturcampos"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="../../../assets/youtube-icon.svg" alt="youtube" />
    </a>
    <img src="../../../assets/wpp-icon.svg" alt="whats app" />
    <img src="../../../assets/tiktok-icon.svg" alt="tiktok" />
  </div>

  <div class="buttons-section">
    <button (click)="alterarEstado('start')">Visitar Site</button>
    <button>E-mail</button>
    <button (click)="alterarEstado('preeskit')">Presskit</button>
    <button (click)="alterarEstado('gallery')">Galeria</button>
  </div>

  <div class="my-events">
    <h2>Meus Eventos</h2>
    <div class="cards-events">
      <app-card-events
        *ngFor="let event of eventsList"
        [event]="event"
      ></app-card-events>
    </div>

    <div class="my-events">
      <h2>Baile Funk</h2>
      <div class="cards-events">
        <app-card-events
          *ngFor="let funk of funkList"
          [event]="funk"
        ></app-card-events>
      </div>
    </div>

    <div class="my-events">
      <h2>Eletrônica</h2>
      <div class="cards-events">
        <app-card-events
          *ngFor="let have of haveList"
          [event]="have"
        ></app-card-events>
      </div>
    </div>
  </div>
</div>
