.main-content {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 9vw;
  margin-top: 80px;
  position: relative;
  z-index: 1;

  .titleImg {
    margin-top: -20px;
  }

  .icon-section {
    margin-top: -30px;
    display: flex;
    gap: 16px;

    img {
      width: 40px;
      height: 40px;
      transition: all 0.3s ease, filter 0.3s ease;
    }

    img:hover {
      border-radius: 50%;
      filter: brightness(1.2);
      background: radial-gradient(ellipse at left, #ec006e80, transparent),
        radial-gradient(ellipse at right, #2f35f880, transparent);
      cursor: pointer;
    }
  }

  .buttons-section {
    display: flex;
    gap: 22px;

    button {
      width: 130px;
      height: 54px;
      border-radius: 8.17px;
      border: 1px solid #282828;
      padding: 16px;
      color: white;
      background-color: #1c1c1c;
      font-size: 18px;
      font-weight: 600;
      font-family: "Inter", sans-serif;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    button:hover {
      border: none;
      background-image: linear-gradient(to right, #ec006e, #a4358f, #474dff);
      background-color: transparent;
    }
  }

  .my-events {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

    h2 {
      color: white;
      font-weight: 500;
      font-family: "Inter", sans-serif;
      font-size: 32px;
      line-height: 39px;
    }

    .cards-events {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 10px;
      grid-auto-rows: minmax(100px, auto);
    }
  }
}