.main-content {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 99vw;
  position: relative;
  z-index: 1;

  .titleImg {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;

    .img-title {
      width: 20.5%;
      height: auto;
    }

    p {
      color: white;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .icon-section {
    margin-top: -30px;
    display: flex;
    gap: 16px;

    a {
      img {
        width: 100%;
        height: 100%;
        transition: all 0.3s ease, filter 0.3s ease;
      }
    }

    img:hover {
      border-radius: 50%;
      filter: brightness(1.2);
      background: radial-gradient(ellipse at left, #ec006e80, transparent),
        radial-gradient(ellipse at right, #2f35f880, transparent);
      cursor: pointer;
    }
  }

  .buttons-section {
    display: flex;
    gap: 22px;

    button {
      width: 130px;
      height: 54px;
      border-radius: 8.17px;
      border: 1px solid #282828;
      padding: 16px;
      color: white;
      background-color: #1c1c1c;
      font-size: 18px;
      font-weight: 600;
      font-family: "Inter", sans-serif;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    button:hover {
      border: none;
      background-image: linear-gradient(to right, #ec006e, #a4358f, #474dff);
      background-color: transparent;
    }
  }

  .my-events {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

    h2 {
      color: white;
      font-weight: 500;
      font-family: "Inter", sans-serif;
      font-size: 32px;
      line-height: 39px;
    }

    .cards-events {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 10px;
      grid-auto-rows: minmax(100px, auto);
    }
  }
}

@media (max-width: 768px) {
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    .titleImg {
      width: 70%;
      margin-top: -100px;
      display: flex;
      text-align: center;
      gap: 20px;

      .img-title {
        width: 80.5%;
        height: auto;
      }

      p {
        color: white;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .icon-section {
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }

    .buttons-section {
      width: 70%;
      display: flex;
      flex-direction: row;
    }

    .my-events {
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .cards-events {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
        gap: 20px;
      }
    }

    .buttons-section {
      flex-direction: column;
      gap: 10px;

      button {
        width: 100%;
      }
    }

    .icon-section {
      justify-content: center;
      gap: 12px;
    }
  }
}
