<div class="container-bar">
    <div class="filter-title">
        <div class="title">
            <h5>{{title}}</h5>
        </div>
        <div class="buttons">
            <ng-content></ng-content>
            <button *ngIf="showButtonAdd" (click)="openModal()" class="btn btn-primary">
                <i class='bx bx-plus'></i>
                {{ 'FILTER.BUTTON.NEW' | translate }}
            </button>
        </div>
    </div>

    <div class="filter-card">
        <div class="filter-header">
            <p class="title">{{ 'FILTER.TITLE' | translate }}</p>
        </div>
        <div class="filter-content">
            <form (ngSubmit)="submit()" [formGroup]="dynamicForm">
                <div *ngFor="let item of formFields" [ngClass]="getFieldClasses(item)">
                    <label *ngIf="isFieldVisible(item)" [class]="'label-' + item.type">
                        {{ item.name | translate }}
                        <span *ngIf="item.required" class="required">*</span>
                    </label>

                    <ng-container *ngIf="item.visible" [ngSwitch]="item.type">

                        <input 
                            *ngSwitchCase="'time-range'" 
                            [mask]="item.mask ? item.maskValue : null"
                            [formControlName]="item.key"    
                            [name]="item.key" 
                            [required]="item.required"
                            [placeholder]="item.placeholder | translate" type="time"
                        >

                        <input 
                            *ngSwitchCase="'date'" 
                            [mask]="item.mask ? item.maskValue : null"
                            [formControlName]="item.key" 
                            [name]="item.key" 
                            [required]="item.required"
                            [placeholder]="item.placeholder | translate" 
                            [type]="item.type"
                        >

                        <input 
                            *ngSwitchCase="'text'"  
                            [mask]="item.mask ? item.maskValue : null"
                            [formControlName]="item.key" 
                            [name]="item.key" 
                            [required]="item.required"
                            [placeholder]="item.placeholder | translate" 
                            [type]="item.type"
                        >

                        <ng-container *ngSwitchCase="'jump'">
                        </ng-container>

                        <ng-select 
                            *ngSwitchCase="'select-internal'" 
                            (change)="onVinculumChange($event, item)" 
                            [formControlName]="item.key"
                            [required]="item.required"
                            [multiple]="item.multiple">
                            <ng-option value="" disabled selected>{{ 'FILTER.PLACEHOLDER.SELECT_OPTION' | translate }}</ng-option>
                            <ng-option *ngFor="let option of dataCache[item.key]" [value]="option[item.items.key]">
                                {{ option[item.items.value] }}
                            </ng-option>
                        </ng-select>

                        <ng-select 
                            *ngSwitchCase="'select-fix'" 
                            [formControlName]="item.key" 
                            [required]="item.required"
                            [multiple]="item.multiple">
                            <ng-option value="" disabled selected>{{ 'FILTER.PLACEHOLDER.SELECT_OPTION' | translate }}</ng-option>
                            <ng-option *ngFor="let option of item.options" [value]="option.key">
                                {{ option.value | translate }}
                            </ng-option>
                        </ng-select>

                        <div *ngSwitchCase="'radio'" class="fields-checkbox">
                            <input [formControlName]="item.key" type="radio" class="radio-input">
                            <label [class]="'label-' + item.type">
                                {{ item.label | translate }}
                            </label>
                        </div>

                        <div *ngSwitchCase="'checkbox'" class="fields-checkbox">
                            <input [formControlName]="item.key" type="checkbox" class="checkbox-input">
                            <label [class]="'label-' + item.type">
                                {{ item.label | translate }}
                            </label>
                        </div>
                    </ng-container>
                </div>
                <div class="button-container">
                    <button 
                        *ngIf="showButtonCustom" 
                        class="btn btn-primary btn-custom"
                        (click)="buttonCustom()"
                        type="button">
                        {{ titleButtonCustom | translate }}
                    </button>
                </div>
                <div class="btn-form-filter">
                    <button 
                        *ngIf="showButtonFilter"
                        class="btn btn-primary btn-filter"
                        [disabled]="disabledButtons || !dynamicForm.valid" 
                        type="submit">
                        {{ 'FILTER.BUTTON.FILTER' | translate }}
                    </button>
                    <button 
                        *ngIf="showButtonExport"
                        class="btn btn-primary btn-export"
                        (click)="exportTableExcel()"
                        [disabled]="disabledButtons"
                        type="button">
                        {{ 'FILTER.BUTTON.EXPORT' | translate }}
                    </button>
                    <button 
                        *ngIf="showButtonReset"
                        class="btn btn-primary btn-reset"
                        (click)="reset()"
                        [disabled]="disabledButtons"
                        type="button">
                        {{ 'FILTER.BUTTON.RESET' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="filter">
        <div class="count">
            <div class="count">
                <div class="field">
                    <select (change)="setChangeAmount($event.target)" [(ngModel)]="perPageValue" class="form-select"
                        aria-label="Default select example">
                        <option *ngFor="let item of perPageList">
                            {{ item }}
                        </option>
                    </select>
                </div>
                 <span>&nbsp;&nbsp;{{ 'FILTER.LABEL.QUANTITY' | translate }}</span>
            </div>
        </div>

        <div class="options-config">
            <div class="container-search">
                <div *ngIf="showSearch" class="field">
                    <input type="text" placeholder="Pesquisar" class="campos" (input)="searchItem($event.target)" />
                    <i class='bx bx-search-alt'></i>
                </div>
            </div>
            <a class="settings-table" (click)="openSettings()">
                <i class='bx bx-cog'></i>
            </a>
        </div>
    </div>
</div>

<standard-table-settings 
    *ngIf="standardTableSettingsService.display$ | async" [columns]="columns"
    (settingsChanged)="columnsSettings($event)"
>
</standard-table-settings>