dialog {
  width: 70.52%;
  height: 650px;
  border-radius: 24px;
  background-color: #1C1C1C;
  border: none;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 56px;

  .button-content {
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: end;

    .close-button {
      width: 30px;
      height: 30px;
      border: none;
      border-radius: 100%;
      background-color: #2d2d2d;
      color: #A7A7A7;
      margin-right: -30px;
    }

    .close-button:hover {
      cursor: pointer;
    }

  }

  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
    margin-top: 60px;

    .map-frame {
      border: none;
      height: 680px;
      border-radius: 16px;

      #map {
        height: 100%;
        border-radius: 16px;
      }
    }
  }

  &::backdrop {
    backdrop-filter: blur(4px);
    background-color: #0000006d;
  }
}

@media (max-width: 768px) {
  dialog {
    width: 70.52%;
    height: 650px;
    border-radius: 24px;
    background-color: #1C1C1C;
    border: none;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 56px;

    .button-content {
      width: 100%;
      display: flex;
      justify-content: end;

      .close-button {
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 100%;
        background-color: #2d2d2d;
        color: #A7A7A7;
      }

      .close-button:hover {
        cursor: pointer;
      }

    }

    .map-container {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 30px;
      margin-top: 100px;

      .map-frame {
        border: none;
        height: 100%;
        border-radius: 16px;

        #map {
          height: 100%;
          border-radius: 16px;
        }
      }
    }

    &::backdrop {
      backdrop-filter: blur(4px);
      background-color: #0000006d;
    }
  }
}