<div class="icon-section">
    <img src="../../../assets/insta-icon.svg" alt="instagram">
    <img src="../../../assets/youtube-icon.svg" alt="youtube">
    <img src="../../../assets/wpp-icon.svg" alt="whats app">
    <img src="../../../assets/tiktok-icon.svg" alt="tiktok">
</div>

<div class="main-content">
  <div class="buttons-section">
    <button (click)="alterarEstado('start')">Visitar Site</button>
    <button >Visitar Site</button>
    <button>E-mail</button>
    <button (click)="alterarEstado('preeskit')">Presskit</button>
    <button (click)="alterarEstado('gallery')">Galeria</button>
  </div>

  <div class="about-me">
    <div class="left">
      <img src="../../assets/PERFIL.png" alt="PERFIL">
    </div>
    <div class="rigth">
      <img src="../../assets/arturCamposLogo.svg" alt="Logo" width="250">
      <div class="gray-content" style="width: 271px;">
        DJ E PRODUTOR MUSICAL
      </div>
      <h2>SOBRE MIM</h2>
      <hr>
      <p>
        Eu sou Artur Campos, DJ e produtor musical de Brasília que vem se destacando na cena nacional desde 2021. Minha paixão pela música é inspirada por ritmos como funk, trap, afrobeat e hip hop, criando experiências únicas e envolventes para o público. Com uma energia contagiante e sets ecléticos, já tive o prazer de me apresentar em eventos de grande porte e ao lado de artistas renomados.
        <br><br>
        Minha missão é conectar pessoas através da música, criando momentos inesquecíveis que celebram a diversidade e a alegria. Sempre em busca de inovação, trabalho para trazer o melhor da música em todas as minhas performances.</p>
      <hr>
      <h2>MINHAS HABILIDADES</h2>
      <div style="display: flex; flex-direction: row; gap: 16px;">
        <div class="gray-content">
          FUNK
        </div>
        <div class="gray-content">
          TRAP
        </div>
        <div class="gray-content">
          PRODUÇÃO MUSICAL
        </div>
        <div class="gray-content">
          HIP HOP
        </div>
      </div>
    </div>
  </div>

  <div class="portfolio-section">
    <img src="../../assets/textPortifolio.svg" alt="Text Portfolio">
    <img src="../../assets/selfie-show-ac.png" alt="Foto">
  </div>

  <div class="versatility-section">
    <div class="text">
      <img src="../../assets/versatility-text.svg" alt="Versatilidade texto" width="716" height="234">
      <div class="button-section">
        <div class="vetor">
          <img src="../../assets/youtube-versatility.svg" alt="Youtube" width="450" height="300">
          <a href="https://www.youtube.com/watch?v=5iz_SeFYyYI&ab_channel=ArturCampos" target="_blank" rel="noopener noreferrer">Youtube</a>
        </div>
        <div class="vetor">
          <img src="../../assets/youtube-versatility.svg" alt="Youtube" width="450" height="300">
          <a href="https://www.deezer.com/br/artist/216165565?utm_campaign=clipboard-generic&utm_source=user_sharing&utm_content=artist-216165565&deferredFl=1" target="_blank" rel="noopener noreferrer">Deezer</a>
        </div>
        <div class="vetor">
          <img  src="../../assets/youtube-versatility.svg" alt="Youtube" width="450" height="300">
          <a href="https://open.spotify.com/intl-pt/artist/40NQimHqWGU36AFUVU8KtP?si=YXFL8TeAStyI5t3nURm67g&nd=1&dlsi=4cbd18a1305b4404" target="_blank" rel="noopener noreferrer">Spotify</a>
        </div>
      </div>
    </div>
    <div class="imagem">
      <img src="../../assets/versatility-img.svg" alt="Versatilidade imagem" >
    </div>
  </div>
</div>
