<div class="icon-section">
  <a href="">
    <img src="../../../assets/insta-icon.svg" alt="instagram" />
  </a>
  <a href="">
    <img src="../../../assets/youtube-icon.svg" alt="youtube" />
  </a>
  <a href="">
    <img src="../../../assets/wpp-icon.svg" alt="whats app" />
  </a>
  <a href="">
    <img src="../../../assets/tiktok-icon.svg" alt="tiktok" />
  </a>
</div>

<div class="main-content">
  <div class="buttons-section">
    <button (click)="alterarEstado('start')">Início</button>
    <button>Visitar Site</button>
    <button>E-mail</button>
    <button (click)="alterarEstado('preeskit')">Presskit</button>
    <button (click)="alterarEstado('gallery')">Galeria</button>
  </div>

  <div class="about-me">
    <div class="left">
      <img src="../../assets/PERFIL.png" alt="PERFIL" />
    </div>
    <div class="rigth">
      <img src="../../assets/arturCamposLogo.svg" alt="Logo" width="250" />
      <div class="gray-content" style="width: 271px">DJ E PRODUTOR MUSICAL</div>
      <h2>SOBRE MIM</h2>
      <hr />
      <p>
        Eu sou Artur Campos, DJ e produtor musical de Brasília que vem se
        destacando na cena nacional desde 2021. Minha paixão pela música é
        inspirada por ritmos como funk, trap, afrobeat e hip hop, criando
        experiências únicas e envolventes para o público. Com uma energia
        contagiante e sets ecléticos, já tive o prazer de me apresentar em
        eventos de grande porte e ao lado de artistas renomados.
        <br /><br />
        Minha missão é conectar pessoas através da música, criando momentos
        inesquecíveis que celebram a diversidade e a alegria. Sempre em busca de
        inovação, trabalho para trazer o melhor da música em todas as minhas
        performances.
      </p>
      <hr />
      <h2>MINHAS HABILIDADES</h2>
      <div class="habb">
        <div class="gray-content">FUNK</div>
        <div class="gray-content">TRAP</div>
        <div class="gray-content">PRODUÇÃO MUSICAL</div>
        <div class="gray-content">HIP HOP</div>
      </div>
    </div>
  </div>

  <div class="portfolio-section">
    <div class="title">
      <img src="../../../assets/circle-title.svg" alt="Circle">
      <h2>PORTIFÓLIO</h2>
    </div>
    <div class="text">
      <p> Buscando sempre aumentar seu repertório, o DJ se apresentou em grandes eventos e dividiu
        palco com renomados artistas de
        diferentes estilos como
      </p>
      <p> Mumuzinho, Teto, KayBlack, Dj Gbr, Mc Tati, Mc Danny, Menos é Mais, Péricles, Pixote,
        Belo, Thiaguinho, </p>
      <p> entre outros. Além disso, fez parte da gravação de DVD do cantor Murillo Huff, com participação da dupla
        sertaneja Henrique & Juliano, GRAVAÇÃO DE DVD
        DA DUPLA Clayton e Romário COM PARTICIPAÇÕES DOS CANTORES Nattan E Simone Mendes. Se apresentou também NO
        FESTIVAL NA
        PRAIA, FUNN FESTIVAL e Porto Seguro. Além de todos esses, SE APRESENTOU NO Carnarildy2023, um dos maiores
        eventos
        realizados no carnaval do Rio de Janeiro.</p>
      <hr style="margin-top: 30px;">
    </div>
    <img src="../../assets/selfie-show-ac.png" alt="Foto" />
  </div>

  <div class="versatility-section">
    <div class="left">
      <div class="text">
        <h2>VERSATILIDADE EM CENA</h2>
        <p>Motrando um pouco de sua versatilidade artística, Artur é</p>
        <p style="color: #FABC1E;">compositor</p>
        <p>,</p>
        <p style="color: #FABC1E;">intérprete</p>
        <p>e</p>
        <p style="color: #FABC1E;">idealizador</p>
        <p>de dois projetos.</p>
        <p>Assista ao clipe e ouça suas músicas nas suas plataformas de streaming favoritas</p>
      </div>
      <div class="button-section">
        <div class="vetor">
          <a href="https://www.youtube.com/@djarturcampos" target="_blank" rel>
            <img src="../../assets/youtube-versatility.svg" alt="Youtube" width="0" height="150" />
          </a>
        </div>
        <div class="vetor">
          <a href="">
            <img src="../../../assets/deezer-versatility.svg" alt="Youtube" width="300" height="150" />
          </a>
        </div>
        <div class="vetor">
          <a href="">
            <img src="../../../assets//spotify-versatility.svg" alt="Youtube" width="300" height="150" />
          </a>
        </div>
      </div>
    </div>
    <div class="imagem">
      <img src="../../assets/versatility-img.svg" alt="Versatilidade imagem" />
    </div>
  </div>
</div>
