<div class="icon-section">
  <a href="">
    <img src="../../../assets/insta-icon.svg" alt="instagram" />
  </a>
  <a href="">
    <img src="../../../assets/youtube-icon.svg" alt="youtube" />
  </a>
  <a href="">
    <img src="../../../assets/wpp-icon.svg" alt="whats app" />
  </a>
  <a href="">
    <img src="../../../assets/tiktok-icon.svg" alt="tiktok" />
  </a>
</div>

<div class="main-content">
  <div class="buttons-section">
    <button (click)="alterarEstado('start')">Início</button>
    <button>Visitar Site</button>
    <button>E-mail</button>
    <button (click)="alterarEstado('preeskit')">Presskit</button>
    <button (click)="alterarEstado('gallery')">Galeria</button>
  </div>

  <div class="imgs-content">
    <app-imgs-gallery *ngFor="let housingLocation of housingLocationList; let i = index"
      [housingLocation]="housingLocation" [ngClass]="'img-' + (i + 1)">
    </app-imgs-gallery>
  </div>
</div>